<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>

<p th:if="${message} != null" th:text="${message}"></p>


<form action="/register" th:action="@{/register}" method="post" th:object="${user}">
    <input type="text" th:field="*{username}" placeholder="Username"/>
    <p th:errors="*{email}">Email errors</p>
    <input th:field="*{email}" type="email" placeholder="Email" /><br />
    <p th:errors="*{password}">Password errors</p>
    <input th:field="*{password}" type="password" placeholder="Password" /><br />
    <input type="submit" value="Register"/>
</form>

<br><br/>
<a href="/">Home Page</a>
</body>
</html>